<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{ x }}</title>

</head>
<body>
<h1>Sample Flask Page</h1>
<br>
<p>Find transactions for an account, ex: 40000430 40001405 40000500</p>
<p>
    <form name=account method='POST'>
        <input type='text' name='account' >
        <input type='submit' value='Search for Transactions' class="submitButton">
    </form>
</p>
<table>
{% if x %}
    <tr><th>Date</th><th>Amount</th></tr>
    {% for a in x %}

    <tr><td>{{ a['f'][0]['v'] }}</td><td>{{ a['f'][1]['v']}}</td><td></tr>
    {% endfor %}
{% endif %}
<h3>{{ y }}</h3>
</body
</html>
