Babel==0.9.6
Flask==0.9
Flask-Babel==0.8
Flask-Login==0.1.3
Flask-Mail==0.8.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Flask-WhooshAlchemy==0.55a
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
pycrypto==2.6.1
Tempita==0.5.1
WTForms==1.0.4
Werkzeug==0.8.3
Whoosh==2.4.1
blinker==1.2
decorator==3.4.0
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
mysql-connector-python==1.0.10
pytz==2013b
speaklater==1.3
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
httplib2==0.9
google-api-python-client==1.2
requests==2.2.1

